body {
    font-family: 'Source Serif Pro', serif;
    background-color: #F0FFFF;
}

.header {
    background-color: #87CEFA;
    border-bottom: solid 5px #1E90FF;
    margin-top: 20px;
    width: auto;
    height: 60px;
    padding-left: 50%;
    margin-top: 5px;
    font-size: 40px;
}

.header a strong {
    margin-top: 30px;
    text-align: left;
    color: #F0F8FF;
}