{% extends 'base.html' %} {% block content %}
<div class="topicos">
  <a href="/pets">&#128568; <strong> Pets</strong></a>
  <a href="/artes">&#10024; <strong> Artes</strong></a>
  <a href="/ciencias">&#129488; <strong> Ciência</strong></a>
</div>

{% for i_news in news%}
<div class="container">
  <img class="imagem" src="{{i_news.image}}" alt="" />
  <ul>
    <strong class="titulo">{{i_news.title}}</strong>
    &#8756;
    <pre>{{i_news.content}}</pre>
  </ul>
</div>
{% endfor %} {% endblock %}
