{% extends 'base.html' %}

{% block content %}
<div class="topicos">
    <a href="/pets">&#128568; <strong> Pets</strong></a>
    <a href="/artes">&#10024; <strong> Artes</strong></a>
    <a href="/ciencias">&#129488; <strong> Ciência</strong></a>
</div>

{% for i_news in news%}
<div class="container">
    {% if window_title == "Sci News" %}
        <iframe src={{i_news['news_link_img']}}></iframe>

    {% else %}
        <img class="imagem" src={{i_news['news_link_img']}} alt="">
    {% endif %}
    <ul>
        <strong class="titulo">{{i_news['news_title']}}</strong>
        &#8756;
        <pre>{{i_news['new_content']}}</pre>
    </ul>
</div>
{% endfor %}
{% endblock %}